# 1. Zen of Python
By Tim Peters.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 2. Variable
A Python **Variable** is a symbolic name that is a reference or pointer to an object.
- Python uses `=` to assign an object on the right to a variable on the left.
- Dynamic typing.

In [2]:
var = 1
var

1

In [3]:
x, y, z = 1, 2, 3
x, y, z

(1, 2, 3)

# 3. Integer
An **Integer** is the number zero, a positive natural number, or the negation of a positive natural number (negative integer).

In [4]:
integer = 1
integer

1

In [10]:
type(integer)

int

# 4. Floating-Point Number
**Floating Point Arithmetic (FP)** is arithmetic that represents subsets of real numbers using an integer with a fixed precision, significand, scaled by an integer exponent of a fixed base. Number of this form are called **Floating-Point Numbers**.
- [Floating Point Arithmetic](https://en.wikipedia.org/wiki/Floating-point_arithmetic)

In [6]:
floating_num = 1.0
type(floating_num)

float

# 5. String

A **String** is made up of a sequence of characters indexed from left to right, starting at zero.
- [PEP 8 - Style Guide for Python](https://peps.python.org/pep-0008/#string-quotes)

In [7]:
# Double quoted
name = "Albert"
name

'Albert'

In [54]:
# Single quoted
name = "Bob"
name

'Bob'

In [11]:
type(name)

str

In [88]:
# Triple quoted
name = """
Albert
Bob
Frank
"""
name

'\nAlbert\nBob\nFrank\n'

## 5-1. String Indexing
- Zero-based numbering.
- Negative indices count backwards.

In [13]:
name = "Albert"
name[0]

'A'

## 5-2. String Slicing
1. `str[start:end:step]`
- The slicing starts with the `start` index (included) and ends at `end` index (excluded). The `step` parameter is used to specify the steps to take from `start` to `end` index.
- Python string is immutable.

In [14]:
# String slicing
s = "0123456789"
s[0:2]

'01'

In [15]:
s[:3]

'012'

In [17]:
s[3:]

'3456789'

In [18]:
s[1:8:2]

'1357'

In [19]:
s[::-1]

'9876543210'

## 5-3. String Concatenation
Use `+` to join strings together.

In [20]:
a = "Hello"
b = " World"
a + b

'Hello World'

## 5-4. String Methods
1. `str.format()`
2. `str.strip()`
3. `str.split()`

In [30]:
# `format()`
text = "This is a text with value {}."
num = 16

result = text.format(num)
result

'This is a text with value 16.'

In [24]:
# `strip()`
text = " Hello World! "
text.strip()

'Hello World!'

In [1]:
# `split()`
text = "1,2,3,4,5"
text.split(",")

['1', '2', '3', '4', '5']

# 6. Type Conversion
- **Explicit Type Conversion** or **Type Casting:**
    - Manual.
1. `int()`
2. `float()`
3. `str()`

- **Implicit Type Conversion:**
    - Automatic.
    - Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [25]:
# `int()`
integer = int(1.2)
integer

1

In [26]:
# `float()`
floating_num = float(10)
floating_num

10.0

In [27]:
# `str()`
string = str(100)
string

'100'

In [28]:
string = str(100.0)
string

'100.0'

In [29]:
# Implicit type conversion
integer = 1
floating_num = 1.0

num = integer + floating_num
num

2.0

# 7. Operator

In [31]:
x = 3
y = 2

x + y

5

In [32]:
x - y

1

In [33]:
x * y

6

In [34]:
x / y

1.5

In [35]:
# Quotient
x // y

1

In [36]:
# Modulo or remainder
x % y

1

In [37]:
x ** y

9

# 8. List
- `[]`

A **List Comprehension** is a syntactic construct available in some programming languages for creating a list based on existing lists.

1. `list = [expression for item in iterable if condition == True]`

A **Generator** or **Generator Function** that contains a `yield` keyword behaves like an iterator which can be used in a `for` loop. Unlike `list`, this lazy iterator does not store its contents in memory. The `yield` statement suspends a function’s execution and sends a `generator` object back to the function caller, but retains local variables' states. When the function resumes, it continues execution immediately after the last `yield` run.
- **Lazy Evaluation & Reduced Latency:** The time to get the first element from a generator is significantly lower.
- **Memory Efficiency:** Only one item is in memory at a time.
- **Maintain State:** Automatically maintains state between executions.

A **Generator Expression** or **Generator Comprehension** is an expression that returns a `generator` object without a `yield` keyword.

In [38]:
lst = [1, 2, 3, 4, 5]
lst

[1, 2, 3, 4, 5]

In [39]:
lst = [1, "Hello World", 3.0]
lst

[1, 'Hello World', 3.0]

In [40]:
type(lst)

list

In [20]:
# List comprehension
lst = [x**2 for x in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# Retrieve lengths from a nested list
batch = [[5, 5, 5, 5, 5], [2, 2], [3, 3, 3]]

[5, 2, 3]

In [34]:
# Generator
def square_generator(exp):
    for x in exp:
        yield x**2

gen = square_generator(range(10))
gen

In [35]:
# `next()`
val = next(gen)
val

0

In [36]:
val = next(gen)
val

1

In [37]:
val = next(gen)
val

4

In [38]:
val = next(gen)
val

9

In [39]:
val = next(gen)
val

16

In [30]:
# Generator expression
gen = (x**2 for x in range(10))
gen

In [31]:
lst = list(x**2 for x in range(10))
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 8-1. List Indexing

In [ ]:
lst = [1, 2, 3, 4, 5]
lst[1]

## 8-2. List Slicing

## 8-3. Sequence

In [41]:
lst = list(range(0, 10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 8-4. Updating

In [43]:
lst = [1, 2, 3]

lst[1] = 0
lst

[1, 0, 3]

## 8-5. List Methods

In [76]:
# `len()`
lst = [1, 2, 3]
len(lst)

3

In [45]:
# `append()`
lst = [1, 2, 3]
item = 4

lst.append(item)
lst

[1, 2, 3, 4]

# 9. Tuple
- `()`

In [46]:
t = (1, 2, 3)
t

(1, 2, 3)

In [47]:
type(t)

tuple

## 9-1. Tuple Indexing

In [49]:
t = (1, 2, 3)
t[1]

2

# 10. Set
- `{}`
- Deduplicate.

In [50]:
s = {1, 2, 3, 4, 5, 5}
s

{1, 2, 3, 4, 5}

In [51]:
type(s)

set

In [52]:
lst = [1, 2, 3, 4, 5, 5]

s = set(lst)
list(s)

[1, 2, 3, 4, 5]

# 11. Dictionary
A **Dictionary** is a collection of key-value pairs.
- Python implementation of an **Associative Array**.
- Keys are unique within a `dict` and cannot be duplicated inside a `dict`. If it is used more than once, subsequent entries will overwrite the previous value.

In [55]:
dictionary = {"name": "Albert", "id": 16, "age": 36, "height": 176.1}
dictionary

{'name': 'Albert', 'id': 16, 'age': 36, 'height': 176.1}

In [56]:
type(dictionary)

dict

In [57]:
dictionary["name"]

'Albert'

In [94]:
# `dict()`
dictionary = dict([
    ("name", "Albert"),
    ("id", 16),
    ("age", 36),
    ("height", 176.1)
])
dictionary

{'name': 'Albert', 'id': 16, 'age': 36, 'height': 176.1}

# 12. Boolean
`True` or `False`.

In [58]:
boolean = True
type(boolean)

bool

In [59]:
x = 10
y = 10

x == y

True

In [60]:
x = 10
y = 6

x == y

False

In [61]:
x = 10
y = 6

x > 8 and y > 3

True

In [62]:
x = 10
y = 6

x > 8 or y < 3

True

# 13. Mutability
- **Mutable Objects:** `list`, `set`, `dict`.
- **Immutable Objects:** Numbers (`int`, `float`), `str`, `tuple`.

In [63]:
x = 5
id(x)

11754024

In [64]:
x = x + 1
id(x)

11754056

In [65]:
lst = [1, 2, 3]
id(lst)

133431958733440

In [66]:
lst[0] = 10
lst

[10, 2, 3]

In [67]:
id(lst)

133431958733440

# 14. Conditional Statement
## 14-1. if

In [68]:
score = 50

if score < 60:
  score = 60

score

60

## 14-2. if-else

In [69]:
score = 80

if score >= 60:
    print("Pass")
else:
    print("Failed")

Pass

In [ ]:
score = 40

if score >= 60:
    print("Pass")
else:
    print("Failed")

## 14-3. if-elif-else

In [71]:
score = 90

if score >= 80:
  print("A")
elif score >= 70 and score < 80:
  print("B")
elif score >= 60 and score < 70:
  print("C")
else:
  print("D")

A

In [ ]:
score = 75

if score >= 80:
  print("A")
elif score >= 70 and score < 80:
  print("B")
elif score >= 60 and score < 70:
  print("C")
else:
  print("D")

In [ ]:
score = 50

if score >= 80:
  print("A")
elif score >= 70 and score < 80:
  print("B")
elif score >= 60 and score < 70:
  print("C")
else:
  print("D")

# 15. Input

In [72]:
num = input("Please enter a number:")
num

Please enter a number: 100

'100'

In [73]:
type(num)

str

# EXERCISE-1: BMI計算器

BMI等於體重(kilogram)除以身高(height)的平方。

寫一個程式讓使用者輸入身高、體重，計算出使用者的BMI，並且告訴他體重的狀況。


$BMI < 18.5: Underweight$


$18.5 <= BMI < 25.0: Normal\ Weight$


$25.0 <= BMI < 30.0: Overweight$


$BMI >= 30: Obesity$

# 16. Loop
## 16-1. for Loop

In [74]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(5, 10):
    print(num)

In [ ]:
for num in range(5, 10, 2):
    print(num)

In [ ]:
lst = [1, 3, 5, "Hello World"]

for i in lst:
    print(i)

## 16-2. while Loop

In [75]:
name = "Albert"
i = 0

while i < len(name):
    print(name[i])
    i = i + 1

A
l
b
e
r
t

## 16-3. continue
`continue` skips the current iteration and proceeds to the next one.

In [77]:
for num in range(0, 10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

## 16-4. break
`break` exits the loop entirely.

In [78]:
for num in range(0, 10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

## 16-5. Nested Loop

In [79]:
for i in range(0, 3):
    for j in range(0, 3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

# EXERCISE-2: 九九乘法表(Multiplication Table)

In [96]:
# Hint
for i in range(1, 10):
  print("1 * {} = {}".format(i, 1 * i))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

# 17. Function
A **Function** is a block of code for reducing redundancy.
- **Arguments** are the actual value passed to the function when it is called.
- **Parameters** define the type and number of inputs a function can accept.

In [80]:
def show_name(name):
    print("The name of the person is: " + name)

show_name("Kevin")

The name of the person is: Kevin

In [82]:
def show_name(name, age):
  print("The name of the person is: " + name)
  print("The age of the person is: " + age)

show_name(name="Adam", age="30")

The name of the person is: Adam
The age of the person is: 30

In [ ]:
def show_name(name, age):
  print("The name of the person is: " + name)
  print("The age of the person is: " + age)

show_name(age="30", name="Adam")

## 17-1. Flexibility
`*args` and `**kwargs` are special keyword which allows function to take variable length argument.
- `*args`: Passes a variable number of arguments in `tuple`.
- `**kwargs`: Passes a variable number of keyword arguments in `dict`.

In [81]:
# `*args`
def show_name(*names):
    for index in range(len(names)):
        print(names[index])

show_name("Albert", "Bob", "Frank")

Albert
Bob
Frank

In [83]:
# `**kwargs`
def show_name(**params):
  print(params["fname"])
  print(params["lname"])
  print(params["age"])
  print(params["gender"])

show_name(fname="Adam", lname="Chang", age=20, gender="male")

Adam
Chang
20
male

## 17-2. Global & Local Variable

In [84]:
# Global variable
var = 10

def test_function():
  # Local variable
  var = 15

test_function()
var

10

In [85]:
var = 10

def test_function():
  # Global variable
  global var
  var = 15

test_function()
var

15